:import('styles/constants/theme.css') {
  primaryColor: primaryColor;
  alternateTextColor: alternateTextColor;
}

:root {
  --alternateTextColor: alternateTextColor;
  --primaryColor: primaryColor;
}

.textColor {
  color: var(--alternateTextColor);
}

.backgroundColor {
  background-color: var(--primaryColor);
}

.root {
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  padding: 0 4px;
  height: 56px;
  margin-bottom: 20px;
  composes: textColor;
  composes: backgroundColor;
}

.icon {
  margin: 0 4px;
}

.title {
  font-weight: 300;
  margin: 0 4px;
  flex-basis: 232px;
}
