:import('styles/constants/colors.css') {
  cyan500: cyan500;
  whiteColor: whiteColor;
  darkBlack: darkBlack;
}

:export {
  primaryColor: cyan500;
  alternateTextColor: whiteColor;
  textColor: darkBlack;
}
