.root {
  display: flex;
  padding: 8px;
}

.root.itemFocused {
  padding: 6px 8px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 2px 0 2px 0;
}

.completed {
  color: #808080;
  text-decoration: line-through;
}

.field {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
}
